.pagination{
    display: flex;
    justify-content: center;
}
.button{
    color: rgb(186, 186, 186);
    background-color: rgba(0, 0, 0, 0.482);
    border: none;
    margin: 1rem 2px;
    font-size: 1.5rem;
    height: 2rem;
   padding: 0 10px;
}
.button_active {
    color: white;
    background-color: rgba(0, 0, 0, 0.482);
    border: none;
    margin: 1rem 2px;
    font-size: 1.5rem;
        height: 2rem;
            padding: 0 10px;
}
.dots{
    color: white;
    // display: block;
    // background-color: lightgoldenrodyellow;
display: flex;
    align-items: center
// height: 100%;
}
.pointer{
    color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.482);
        border: none;
        margin: 1rem 2px;
        font-size: 1.5rem;
        height: 2rem;
        padding: 0 10px;
}
.pointer_disable{
    // color: rgb(186, 186, 186);
    //     background-color: rgba(0, 0, 0, 0.482);
    //     border: none;
    //     margin: 2px;
    //     font-size: 1.5rem;
    //     height: 2rem;
    //     padding: 0 10px;
    display: none;
}
@media screen and (max-width: 720px) {
    .button {
           
            margin: 1rem 2px;
            font-size: 1.5rem;
            height: 2rem;
            padding: 0 5px;
        }
    
        .button_active {
                margin: 1rem 2px;
                    font-size: 1.5rem;
                    height: 2rem;
                    padding: 0 5px;
        }
                .pointer{
                    display: none;
                }

}