.header_box_helper{
    height:50vh ;

}

.header_box { 
    z-index: -1;
    height: 55vh;
    min-height: inherit;
    background-image: linear-gradient(to bottom, rgba(178, 178, 178, 0), #1c1c1c),
        url(https://img1.akspic.ru/crops/8/4/9/7/6/167948/167948-anime-anime_art-ken_kaneki-tokio-oblako-3840x2160.jpg);
    background-size: cover;
    background-position: bottom;
    // position: relative;
    
}

.header_panel_box {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}



.logo {
    height: 4rem;
    width: 4rem;
    clip-path: polygon(50% 0%,
            54% 38%,
            79% 49%,
            61% 61%,
            80% 90%,
            39% 69%,
            20% 90%,
            19% 67%,
            6% 5%,
            29% 48%);
    background-color: white;

    flex-shrink: 0;
}

.title {
    color: white;

    // transform: translateY(5vh);
    letter-spacing: 1.5rem;
    font-size: 3rem;
}
.title_media{
    display: none;
    color: white;
}

.title:hover {
    cursor: default;
}
.header_panel_box_phone{
    display: none;
}

@media (max-width: 1025px) and (min-width: 720px) {
    .title {
        color: white;
        letter-spacing: 1.5rem;
        font-size: 3rem;
        }
    }

@media screen and (orientation:landscape) and (max-width: 720px){
    .header_box_helper {
        height: 50vh;
        }
    .header_box {
        height: 60vh;
        // background-color: aqua;
    }
}

@media screen and (orientation:portrait) and (max-width: 720px) {
    .header_box_helper {
            height: 25vh;
        }
    .header_box {
        height: 40vh;
        // background-color: aqua;
    }
}

@media screen and (max-width: 720px) {
    .header_box {
        min-height: inherit;
        // padding: 1rem;
    } 
    .header_panel_box {
        display: none;
    }
    .header_panel_box_phone {
        display: flex;
        
    }
    .logo_box{
        display: flex;
        justify-content: flex-start;
    }
    .logo {
        height: 2rem;
        width: 2rem;
    }
    .title {                        
        display: none;
    }
    .title_media{
        display: block;
                                    
    }
}
@media screen and (min-width: 720px) and (max-width: 1000px) {
    .header_box_helper {
        height: 60vh;
    }
    .header_box {
        height: 60vh;
    }
}